.page-card {
    padding: 5px;
    margin: 10px;
    border-radius: 4px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
}

.grid-item {
    place-self: center;
}

.delete {
    position: relative;

    svg {
        right: -9px;
        top: -9px;
        position: absolute;
    }

    .show {
        display: block;
    }

    .hide {
        display: none;
    }
}