.topbar {
    width: 100%;
    position: absolute;
    height: 48px;
    // background-color: #ffc75e;
    background-color: #cccaca9f;
    // border-bottom: #ffc75e dashed 3px; ;
    z-index: 1000;
    align-items: center;
}