/* card style start */

.doc {
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
    border-right: #ffc75e dashed 3px;
}

.doc {
    .pages {
        padding: {
            top: 30px;
        }
        width: 100%;
        overflow-y: auto;
        scrollbar-width: thin;
        background: #cccaca;
    }

    .grid-container {
        display: grid;
        width: 100%;
        grid-template-columns: repeat(auto-fill, minmax(9em, 1fr));
        grid-gap: 1px;
    }
}

.handle {
    -webkit-transition: background-color 0.5s;
    transition: background-color 0.5s;
}

.handle:hover {
    background-color: #ffc75e96;
}

.handle:active {
    background-color: #ffc75e96;
}

.selected {
    background: #ffc75e96;
}
