/* card style start */

.doc {
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
    // border-right: #ffc75e dashed 3px;
    gap: 12px;
}

.doc {
    .checkbox {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        top:20%
    }
    .pages {
        padding: {
            top: 50px;
        }
        width: 100%;
        overflow-y: auto;
        scrollbar-width: thin;
        background: #cccaca;
    }

    .grid-container {
        display: grid;
        width: 100%;
        grid-template-columns: repeat(auto-fill, minmax(9em, 1fr));
        grid-gap: 1px;
        transition: 2s;
    }
}

.handle {
    -webkit-transition: background-color 0.5s;
    transition: background-color 0.5s;
    width: 3px;
}

.handle:hover {
    background-color: #ffc75e;
    z-index: 1000;
}

.handle:active {
    background-color: #ffc75e;
    z-index: 1000;
}

.selected {
    background: #ffc75e;
}
